<p>first works!</p>
<iframe srcdoc="
    <div>
        <style>
            body{   background-color: #E8DACC;  }
            h1{     color:red   }
        </style>
        <h1>Hello World this content used srcdoc tag</h1>    <h2>Duality check</h2>
        <h1>Hello World this content used srcdoc tag</h1>    <h1>Duality check</h1>
        <h1>Hello World this content used srcdoc tag</h1>    <h4>Duality check</h4>
        <h1>Hello World this content used srcdoc tag</h1>    <h5>Duality check</h5>
        <h1>Hello World this content used srcdoc tag</h1>    <h6>Duality check</h6>
        <h1>Hello World this content used srcdoc tag</h1>    <h1>Duality check</h1>
        <h1>Hello World this content used srcdoc tag</h1>    <h3>Duality check</h3>
        <h1>Hello World this content used srcdoc tag</h1>    <h4>Duality check</h4>
    </div>">
    
</iframe>