<p>first works!</p>
<iframe srcdoc="<h1>Hello World this content used srcdoc tag</h2> <h4>Duality check</h4>
    <h1>Hello World this content used srcdoc tag</h2> <h4>Duality check</h4>
        <h1>Hello World this content used srcdoc tag</h2> <h4>Duality check</h4>
            <h1>Hello World this content used srcdoc tag</h2> <h4>Duality check</h4>
                <h1>Hello World this content used srcdoc tag</h2> <h4>Duality check</h4>
                    <h1>Hello World this content used srcdoc tag</h2> <h4>Duality check</h4>
                        <h1>Hello World this content used srcdoc tag</h2> <h4>Duality check</h4>
                            <h1>Hello World this content used srcdoc tag</h2> <h4>Duality check</h4>">
    
</iframe>